@import '../../assets/scss/mixins.scss';

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    background-image: url('../../assets/img/papyrus-dark.png');
    position: relative;
    height: 25vh;

    .headline {

        @include app-width;
        
        h1 {
            font-size: 2rem;
            margin: 0;
            margin-bottom: 0;
            color: white;
        }

        h2 {
            font-weight: 200;
            color: white;
            opacity: .8;
            margin: 0;
        }
    }

    .keyup-filter {

        @include app-width;

        position: absolute;
        top: 100%;
        margin-top: -25px;

        i {
            position: absolute;
            left: 36px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.5rem;
        }

        label {
            position: absolute;
            font-size: .8rem;
            text-transform: uppercase;
            left: 80px;
            font-weight: bold;
            top: 15px;
            color: #595959;
        }

        input {
            width: 100%;
            padding: 30px 30px 10px 60px;
            border: none;
            border-radius: 40px;
            box-shadow: 0 0 20px rgba(0,0,0,0.4);
            border: 3px solid transparent;
            transition: .2s;
            font-size: 1rem;
            background: #f7f7f7;

            &:focus {
                border-color: var(--primary);
                outline: none;
            }
        }
    }
}

main {
    @include app-width;
    height: 75vh;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 20px;

    &.has-active {
        display: block;

        .list-wrapper {
            display: none;
        }

        app-startup-list {
            display: block;
        }
    }
    
    .list-wrapper {
        height: 400px;
        border: 1px solid #ddd;
        border-radius: 10px;
        height: 100%;
        background: #f7f7f7;

        .investor {
            height: 120px;
            background: white;
            border-radius: 10px;
            margin: 20px;
            padding: 20px;
            border: 2px solid transparent;
            display: flex;
            align-items: center;
            transition: .2s;
            cursor: pointer;
    
            &.active,
            &:hover {
                border-color: var(--primary);
    
                .icon { color: var(--primary); }
            }
            
            .investor-data {
                flex-direction: column;
                display: flex;
                gap: 10px;
    
                & > div {
                    flex-shrink: 0;
                    border: none;
                    min-width: 185px;
    
                    b {
                        margin-right: 10px;
                    }
    
                    &:last-of-type {
                        border: none;
                    }
                }
    
                @media (min-width: 1100px) {
                    flex-direction: row;
    
                    & > div {
                        border-right: 1px solid #ddd;
                        padding-right: 20px;
                    }
                }
            }
    
            .icon {
                margin-left: auto;
                font-size: 1.5rem;
            }
        }

        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
            background: transparent;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0,0,0,0.3);
            border-radius: 10px;
            border: 2px solid #f7f7f7;
        }
    }

    app-startup-list {
        display: none;
    }

    @media(min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 20px;

        app-startup-list {
            display: block;
        }

        &.has-active {
            display: grid;
            grid-template-columns: 1fr 300px;
            gap: 20px;
    
            .list-wrapper {
                display: block;
            }
    
            app-startup-list {
                display: block;
            }
        }
    }
}
