<header>
    <div class="headline">
        <h1>Investor Matcher</h1>
        <h2>Type in a text to filter the results</h2>
    </div>

    <div class="keyup-filter">
        <i class="bi bi-search"></i>
        <label for="filter">Filter</label>
        <input id="filter" type="text" placeholder="Search investor names and businesses" [(ngModel)]="query" tabindex="1">
    </div>
</header>

<main [class.has-active]="active">

    @if (matches) {
        <cdk-virtual-scroll-viewport itemSize="120" class="list-wrapper" tabindex="2">

            <div 
            class="investor"
            *cdkVirtualFor="let match of matches | investorFilter:query"
            [class.active]="active === match"
            [attr.aria-current]="active === match"
            (click)="active = match">
    
                <div class="investor-data">
                    <div>
                        <b>Name</b>
                        <span>{{ match.firstName }}</span>
                    </div>
        
                    <div>
                        <b>Business</b>
                        <app-business-tag [business]="match.business" />
                    </div>
        
                    <div>
                        <b>Matched Startups</b>
                        <span>{{ match.startups.length }}</span>
                    </div>
                </div>
    
                <div class="icon">
                    <i class="bi bi-arrow-right-circle-fill"></i>
                </div>
    
            </div>
        </cdk-virtual-scroll-viewport>

        <app-startup-list [record]="active" (clear)="active = null" />
    }
    @else {
        <app-spinner />
    }

</main>
