@if (record) {
    <div class="list-header">
        <h3>{{ record.firstName }}'s' Matches</h3>
        <button type="button" (click)="clear.emit()" aria-label="Close"><i class="bi bi-x"></i></button>
    </div>

    <ul>
        @for (s of record.startups; track s.name) {
            <li>
                <span>{{ s.name }}</span>
                <app-business-tag [business]="s.business" />
            </li>
        }
        @empty {
            <li class="muted">No matches</li>
        }
    </ul>
}
@else {
    <p class="muted">Select an investor to load their matched startups</p>
}
