:host {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    display: block;

    .list-header {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        h3 {
            margin: 0;
            font-size: 1rem;
        }

        button {
            border: none;
            background: transparent;
            padding: 0;
            cursor: pointer;
            font-size: 1.5rem;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-bottom: 10px;
        }
    }

    p.muted {
        text-align: center;
    }
}
