:host {
    padding: 20px 0;

    .loader {
        width: 60px;
        height: 60px;
        border: 7px solid #f7f7f7;
        border-bottom-color: #ddd;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: _ngcontent-ng-c2535936741_rotation 1s linear infinite;
    }
    
    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
