span {
    display: inline-block;
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 0.8rem;
    border: 1px solid #ddd;

    &.bio {
        background: #80efa9;
        color: rgba(0,0,0,0.8);
        border: none;
    }
    
    &.internet {
        background: #ff8647;
        color: rgba(255,255,255,0.9);
        border: none;
    }
    
    &.environment {
        background: #1b407e;
        color: rgba(255,255,255,0.9);
        border: none;
    }
}
